body{
    background-image: url("./images/island.jpg");
    background-size: cover;
}
.mainbody{
    margin: auto;
    border: 1px solid black;
    width: 450px;
    height: 400px;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    box-shadow: 0px 0px 20px rgb(0, 255, 200);
}
h1{
    color:lightyellow;
    text-align: center;
    font-size: 30px;
}
form{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    backdrop-filter: blur(20px);
    padding: 20px 30px;
}
label{
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
}
input{
    background: rgba(255, 255, 255, 0.2);
    height: 35px;
    border: none;
    border-radius: 30px;
    color: white;
    margin-bottom: 5px;
    padding: 5px 20px;
}
button{
    width: 200px;
    height: 13%;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: greenyellow;
    border: none;
    border-radius: 30px;
}
  @media only screen and (max-width:480px) {
    /* For mobile phones: */
    body{
        background-position: center;
        background-repeat:inherit;
        background-size: cover;
    }
    .mainbody{
        max-width: 100%;
        max-height: 100%;
        margin-top: 300px;
    }
    h1{
        font-size: 25px;
    }
    label{
        font-size: 15px;
    }
    button{
        max-width: 100%;
        max-height: 100%;
        font-size: 16px;
        margin: auto;
    }
  }